In [5]:
import numpy as np
import pandas as pd
from datetime import datetime

In [6]:
#show all columns
pd.set_option('display.max_columns', None)

In [7]:
df_weather = pd.read_csv('Data/datasets_20608_26794_Boston weather_clean.csv', sep=',')

In [8]:
df_weather.head(10)

,Year,Month,Day,High Temp (F),Avg Temp (F),Low Temp (F),High Dew Point (F),Avg Dew Point (F),Low Dew Point (F),High Humidity (%),Avg Humidity (%),Low Humidity (%),High Sea Level Press (in),Avg Sea Level Press (in),Low Sea Level Press (in),High Visibility (mi),Avg Visibility (mi),Low Visibility (mi),High Wind (mph),Avg Wind (mph),High Wind Gust (mph),Snowfall (in),Precip (in),Events
0,2008,1,1,40,34,28,37,31,22,92,79,66,30.18,29.78,29.56,10,8,1,23,10,36,0.18,0.18,Both
1,2008,1,2,33,22,10,28,18,-3,82,66,49,30.20,29.79,29.55,10,10,9,28,15,38,0.00,0.00,Snow
2,2008,1,3,14,11,7,-3,-7,-9,60,50,40,30.62,30.47,30.22,10,10,10,25,17,32,0.00,0.00,None
3,2008,1,4,32,20,8,13,5,-8,63,50,36,30.60,30.45,30.37,10,10,10,23,12,28,0.00,0.00,None
4,2008,1,5,42,35,27,26,16,12,64,47,30,30.38,30.30,30.17,10,10,10,16,9,23,0.00,0.00,None
5,2008,1,6,47,42,36,34,30,24,82,69,55,30.22,30.19,30.15,10,10,9,15,7,20,0.00,0.00,None
6,2008,1,7,55,45,35,43,38,32,92,77,61,30.21,30.17,30.13,10,8,5,18,7,22,0.00,0.00,None
7,2008,1,8,67,56,45,49,45,41,86,69,52,30.13,30.05,29.93,10,9,7,18,12,23,0.00,0.00,None
8,2008,1,9,62,54,46,52,41,17,90,57,24,29.93,29.79,29.64,10,10,9,29,18,37,0.00,0.00,Rain
9,2008,1,10,49,44,38,31,25,21,70,52,34,30.12,30.07,29.92,10,10,10,16,11,22,0.00,0.00,None

In [9]:
df_Bike2017_1 = pd.read_csv('Data/201701-hubway-tripdata.csv', sep=',')
df_Bike2017_2 = pd.read_csv('Data/201702-hubway-tripdata.csv', sep=',')
df_Bike2017_3 = pd.read_csv('Data/201703-hubway-tripdata.csv', sep=',')
df_Bike2017_4 = pd.read_csv('Data/201704-hubway-tripdata.csv', sep=',')
df_Bike2017_5 = pd.read_csv('Data/201705-hubway-tripdata.csv', sep=',')
df_Bike2017_6 = pd.read_csv('Data/201706-hubway-tripdata.csv', sep=',')
df_Bike2017_7 = pd.read_csv('Data/201707-hubway-tripdata.csv', sep=',')
df_Bike2017_8 = pd.read_csv('Data/201708-hubway-tripdata.csv', sep=',')
df_Bike2017_9 = pd.read_csv('Data/201709-hubway-tripdata.csv', sep=',')
df_Bike2017_10 = pd.read_csv('Data/201710-hubway-tripdata.csv', sep=',')
df_Bike2017_11 = pd.read_csv('Data/201711-hubway-tripdata.csv', sep=',')
df_Bike2017_12 = pd.read_csv('Data/201712-hubway-tripdata.csv', sep=',')

In [10]:
df_Bike2017 = pd.concat([df_Bike2017_1, df_Bike2017_2,
                    df_Bike2017_3,df_Bike2017_4,
                    df_Bike2017_5, df_Bike2017_6,
                    df_Bike2017_7, df_Bike2017_8,
                    df_Bike2017_9, df_Bike2017_10,
                    df_Bike2017_11, df_Bike2017_12])
len(df_Bike2017)

1313774

In [11]:
df_Bike2017.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,350,2017-01-01 00:06:58,2017-01-01 00:12:49,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,139,Dana Park,42.361780,-71.108100,644,Subscriber,1988,1
1,891,2017-01-01 00:13:16,2017-01-01 00:28:07,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,230,Subscriber,1983,1
2,1672,2017-01-01 00:16:17,2017-01-01 00:44:10,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,980,Customer,\N,0
3,747,2017-01-01 00:21:22,2017-01-01 00:33:50,46,Christian Science Plaza,42.343864,-71.085918,19,Buswell St. at Park Dr.,42.347241,-71.105301,1834,Subscriber,1968,1
4,621,2017-01-01 00:30:06,2017-01-01 00:40:28,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,8,Union Square - Brighton Ave. at Cambridge St.,42.353334,-71.137313,230,Subscriber,1983,1

In [12]:
df_Bike2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313774 entries, 0 to 55071
Data columns (total 15 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tripduration             1313774 non-null  int64
 1   starttime                1313774 non-null  object
 2   stoptime                 1313774 non-null  object
 3   start station id         1313774 non-null  int64
 4   start station name       1313774 non-null  object
 5   start station latitude   1313774 non-null  float64
 6   start station longitude  1313774 non-null  float64
 7   end station id           1313774 non-null  int64
 8   end station name         1313774 non-null  object
 9   end station latitude     1313774 non-null  float64
 10  end station longitude    1313774 non-null  float64
 11  bikeid                   1313774 non-null  int64
 12  usertype                 1313774 non-null  object
 13  birth year               1313774 non-null  object
 14  gender                   1313774 non-null  int64
dtypes: float64(4), int64(5), object(6)
memory usage: 160.4+ MB

In [13]:
df_Bike2017['Year'] = [datetime.strptime(d,'%Y-%m-%d %H:%M:%S').year for d in df_Bike2017['starttime']]
df_Bike2017['Month'] = [datetime.strptime(d,'%Y-%m-%d %H:%M:%S').month for d in df_Bike2017['starttime']]
df_Bike2017['Day'] = [datetime.strptime(d,'%Y-%m-%d %H:%M:%S').day for d in df_Bike2017['starttime']]
df_Bike2017['Weekday'] = [datetime.strptime(d,'%Y-%m-%d %H:%M:%S').weekday() for d in df_Bike2017['starttime']]

In [14]:
df_Bike2017.head(2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Year,Month,Day,Weekday
0,350,2017-01-01 00:06:58,2017-01-01 00:12:49,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,139,Dana Park,42.361780,-71.108100,644,Subscriber,1988,1,2017,1,1,6
1,891,2017-01-01 00:13:16,2017-01-01 00:28:07,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,230,Subscriber,1983,1,2017,1,1,6

In [15]:
df_Bike_Weather = df_Bike2017.set_index(['Year','Month', 'Day']).join(df_weather.set_index(['Year','Month', 'Day']))

In [16]:
df_Bike_Weather.head()

                tripduration            starttime             stoptime  \
Year Month Day
2017 1     1             350  2017-01-01 00:06:58  2017-01-01 00:12:49
           1             891  2017-01-01 00:13:16  2017-01-01 00:28:07
           1            1672  2017-01-01 00:16:17  2017-01-01 00:44:10
           1             747  2017-01-01 00:21:22  2017-01-01 00:33:50
           1             621  2017-01-01 00:30:06  2017-01-01 00:40:28

                start station id                        start station name  \
Year Month Day
2017 1     1                  67              MIT at Mass Ave / Amherst St
           1                  36  Boston Public Library - 700 Boylston St.
           1                  36  Boston Public Library - 700 Boylston St.
           1                  46                   Christian Science Plaza
           1                  10             B.U. Central - 725 Comm. Ave.

                start station latitude  start station longitude  \
Year Month Day
2017 1     1                 42.358100               -71.093198
           1                 42.349673               -71.077303
           1                 42.349673               -71.077303
           1                 42.343864               -71.085918
           1                 42.350406               -71.108279

                end station id                               end station name  \
Year Month Day
2017 1     1               139                                      Dana Park
           1                10                  B.U. Central - 725 Comm. Ave.
           1                 9                  Agganis Arena - 925 Comm Ave.
           1                19                        Buswell St. at Park Dr.
           1                 8  Union Square - Brighton Ave. at Cambridge St.

                end station latitude  end station longitude  bikeid  \
Year Month Day
2017 1     1               42.361780             -71.108100     644
           1               42.350406             -71.108279     230
           1               42.351246             -71.115639     980
           1               42.347241             -71.105301    1834
           1               42.353334             -71.137313     230

                  usertype birth year  gender  Weekday  High Temp (F)  \
Year Month Day
2017 1     1    Subscriber       1988       1        6             44
           1    Subscriber       1983       1        6             44
           1      Customer         \N       0        6             44
           1    Subscriber       1968       1        6             44
           1    Subscriber       1983       1        6             44

                Avg Temp (F)  Low Temp (F)  High Dew Point (F)  \
Year Month Day
2017 1     1              40            33                  36
           1              40            33                  36
           1              40            33                  36
           1              40            33                  36
           1              40            33                  36

                Avg Dew Point (F)  Low Dew Point (F)  High Humidity (%)  \
Year Month Day
2017 1     1                   27                 21                 93
           1                   27                 21                 93
           1                   27                 21                 93
           1                   27                 21                 93
           1                   27                 21                 93

                Avg Humidity (%)  Low Humidity (%)  High Sea Level Press (in)  \
Year Month Day
2017 1     1                  64                30                      30.47
           1                  64                30                      30.47
           1                  64                30                      30.47
           1                  64                30                      30.47
           1                  64                30                      30.47

                Avg Sea Level Press (in)  Low Sea Level Press (in)  \
Year Month Day
2017 1     1                       30.11                     29.87
           1                       30.11                     29.87
           1                       30.11                     29.87
           1                       30.11                     29.87
           1                       30.11                     29.87

                High Visibility (mi)  Avg Visibility (mi)  \
Year Month Day
2017 1     1                      10                   10
           1                      10                   10
           1                      10                   10
           1                      10                   10
           1                      10                   10

                Low Visibility (mi)  High Wind (mph)  Avg Wind (mph)  \
Year Month Day
2017 1     1                     10               23              15
           1                     10               23              15
           1                     10               23              15
           1                     10               23              15
           1                     10               23              15

                High Wind Gust (mph)  Snowfall (in)  Precip (in) Events
Year Month Day
2017 1     1                      33            0.0         0.08   Rain
           1                      33            0.0         0.08   Rain
           1                      33            0.0         0.08   Rain
           1                      33            0.0         0.08   Rain
           1                      33            0.0         0.08   Rain

In [17]:
df_Bike_Weather.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 1313774 entries, (2017, 1, 1) to (2017, 12, 31)
Data columns (total 37 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   tripduration               1313774 non-null  int64
 1   starttime                  1313774 non-null  object
 2   stoptime                   1313774 non-null  object
 3   start station id           1313774 non-null  int64
 4   start station name         1313774 non-null  object
 5   start station latitude     1313774 non-null  float64
 6   start station longitude    1313774 non-null  float64
 7   end station id             1313774 non-null  int64
 8   end station name           1313774 non-null  object
 9   end station latitude       1313774 non-null  float64
 10  end station longitude      1313774 non-null  float64
 11  bikeid                     1313774 non-null  int64
 12  usertype                   1313774 non-null  object
 13  birth year                 1313774 non-null  object
 14  gender                     1313774 non-null  int64
 15  Weekday                    1313774 non-null  int64
 16  High Temp (F)              1313774 non-null  int64
 17  Avg Temp (F)               1313774 non-null  int64
 18  Low Temp (F)               1313774 non-null  int64
 19  High Dew Point (F)         1313774 non-null  int64
 20  Avg Dew Point (F)          1313774 non-null  int64
 21  Low Dew Point (F)          1313774 non-null  int64
 22  High Humidity (%)          1313774 non-null  int64
 23  Avg Humidity (%)           1313774 non-null  int64
 24  Low Humidity (%)           1313774 non-null  int64
 25  High Sea Level Press (in)  1313774 non-null  float64
 26  Avg Sea Level Press (in)   1313774 non-null  float64
 27  Low Sea Level Press (in)   1313774 non-null  float64
 28  High Visibility (mi)       1313774 non-null  int64
 29  Avg Visibility (mi)        1313774 non-null  int64
 30  Low Visibility (mi)        1313774 non-null  int64
 31  High Wind (mph)            1313774 non-null  int64
 32  Avg Wind (mph)             1313774 non-null  int64
 33  High Wind Gust (mph)       1313774 non-null  int64
 34  Snowfall (in)              1313774 non-null  float64
 35  Precip (in)                1313774 non-null  float64
 36  Events                     1313774 non-null  object
dtypes: float64(9), int64(21), object(7)
memory usage: 374.6+ MB

In [18]:
df_Holidays = pd.read_csv('Data/Holidays.csv', sep=',')

In [19]:
df_Holidays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      15 non-null     int64
 1   Month     15 non-null     int64
 2   Day       15 non-null     int64
 3   Holidays  15 non-null     int64
dtypes: int64(4)
memory usage: 608.0 bytes

In [20]:
len(df_Bike_Weather)

1313774

In [21]:
df_B_W_H = pd.merge(df_Bike_Weather, df_Holidays, how='left', on=['Year','Month', 'Day'])

In [22]:
df_B_W_H.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313774 entries, 0 to 1313773
Data columns (total 41 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Year                       1313774 non-null  int64
 1   Month                      1313774 non-null  int64
 2   Day                        1313774 non-null  int64
 3   tripduration               1313774 non-null  int64
 4   starttime                  1313774 non-null  object
 5   stoptime                   1313774 non-null  object
 6   start station id           1313774 non-null  int64
 7   start station name         1313774 non-null  object
 8   start station latitude     1313774 non-null  float64
 9   start station longitude    1313774 non-null  float64
 10  end station id             1313774 non-null  int64
 11  end station name           1313774 non-null  object
 12  end station latitude       1313774 non-null  float64
 13  end station longitude      1313774 non-null  float64
 14  bikeid                     1313774 non-null  int64
 15  usertype                   1313774 non-null  object
 16  birth year                 1313774 non-null  object
 17  gender                     1313774 non-null  int64
 18  Weekday                    1313774 non-null  int64
 19  High Temp (F)              1313774 non-null  int64
 20  Avg Temp (F)               1313774 non-null  int64
 21  Low Temp (F)               1313774 non-null  int64
 22  High Dew Point (F)         1313774 non-null  int64
 23  Avg Dew Point (F)          1313774 non-null  int64
 24  Low Dew Point (F)          1313774 non-null  int64
 25  High Humidity (%)          1313774 non-null  int64
 26  Avg Humidity (%)           1313774 non-null  int64
 27  Low Humidity (%)           1313774 non-null  int64
 28  High Sea Level Press (in)  1313774 non-null  float64
 29  Avg Sea Level Press (in)   1313774 non-null  float64
 30  Low Sea Level Press (in)   1313774 non-null  float64
 31  High Visibility (mi)       1313774 non-null  int64
 32  Avg Visibility (mi)        1313774 non-null  int64
 33  Low Visibility (mi)        1313774 non-null  int64
 34  High Wind (mph)            1313774 non-null  int64
 35  Avg Wind (mph)             1313774 non-null  int64
 36  High Wind Gust (mph)       1313774 non-null  int64
 37  Snowfall (in)              1313774 non-null  float64
 38  Precip (in)                1313774 non-null  float64
 39  Events                     1313774 non-null  object
 40  Holidays                   36313 non-null    float64
dtypes: float64(10), int64(24), object(7)
memory usage: 421.0+ MB

In [23]:
df_B_W_H = df_B_W_H.fillna(value={'Holidays': int(0)})

In [24]:
df_B_W_H ['Holidays'] = df_B_W_H ['Holidays'].astype(int)
df_B_W_H.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313774 entries, 0 to 1313773
Data columns (total 41 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Year                       1313774 non-null  int64
 1   Month                      1313774 non-null  int64
 2   Day                        1313774 non-null  int64
 3   tripduration               1313774 non-null  int64
 4   starttime                  1313774 non-null  object
 5   stoptime                   1313774 non-null  object
 6   start station id           1313774 non-null  int64
 7   start station name         1313774 non-null  object
 8   start station latitude     1313774 non-null  float64
 9   start station longitude    1313774 non-null  float64
 10  end station id             1313774 non-null  int64
 11  end station name           1313774 non-null  object
 12  end station latitude       1313774 non-null  float64
 13  end station longitude      1313774 non-null  float64
 14  bikeid                     1313774 non-null  int64
 15  usertype                   1313774 non-null  object
 16  birth year                 1313774 non-null  object
 17  gender                     1313774 non-null  int64
 18  Weekday                    1313774 non-null  int64
 19  High Temp (F)              1313774 non-null  int64
 20  Avg Temp (F)               1313774 non-null  int64
 21  Low Temp (F)               1313774 non-null  int64
 22  High Dew Point (F)         1313774 non-null  int64
 23  Avg Dew Point (F)          1313774 non-null  int64
 24  Low Dew Point (F)          1313774 non-null  int64
 25  High Humidity (%)          1313774 non-null  int64
 26  Avg Humidity (%)           1313774 non-null  int64
 27  Low Humidity (%)           1313774 non-null  int64
 28  High Sea Level Press (in)  1313774 non-null  float64
 29  Avg Sea Level Press (in)   1313774 non-null  float64
 30  Low Sea Level Press (in)   1313774 non-null  float64
 31  High Visibility (mi)       1313774 non-null  int64
 32  Avg Visibility (mi)        1313774 non-null  int64
 33  Low Visibility (mi)        1313774 non-null  int64
 34  High Wind (mph)            1313774 non-null  int64
 35  Avg Wind (mph)             1313774 non-null  int64
 36  High Wind Gust (mph)       1313774 non-null  int64
 37  Snowfall (in)              1313774 non-null  float64
 38  Precip (in)                1313774 non-null  float64
 39  Events                     1313774 non-null  object
 40  Holidays                   1313774 non-null  int64
dtypes: float64(9), int64(25), object(7)
memory usage: 421.0+ MB

In [25]:
df_B_W_H.head()

,Year,Month,Day,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Weekday,High Temp (F),Avg Temp (F),Low Temp (F),High Dew Point (F),Avg Dew Point (F),Low Dew Point (F),High Humidity (%),Avg Humidity (%),Low Humidity (%),High Sea Level Press (in),Avg Sea Level Press (in),Low Sea Level Press (in),High Visibility (mi),Avg Visibility (mi),Low Visibility (mi),High Wind (mph),Avg Wind (mph),High Wind Gust (mph),Snowfall (in),Precip (in),Events,Holidays
0,2017,1,1,350,2017-01-01 00:06:58,2017-01-01 00:12:49,67,MIT at Mass Ave / Amherst St,42.358100,-71.093198,139,Dana Park,42.361780,-71.108100,644,Subscriber,1988,1,6,44,40,33,36,27,21,93,64,30,30.47,30.11,29.87,10,10,10,23,15,33,0.0,0.08,Rain,1
1,2017,1,1,891,2017-01-01 00:13:16,2017-01-01 00:28:07,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,230,Subscriber,1983,1,6,44,40,33,36,27,21,93,64,30,30.47,30.11,29.87,10,10,10,23,15,33,0.0,0.08,Rain,1
2,2017,1,1,1672,2017-01-01 00:16:17,2017-01-01 00:44:10,36,Boston Public Library - 700 Boylston St.,42.349673,-71.077303,9,Agganis Arena - 925 Comm Ave.,42.351246,-71.115639,980,Customer,\N,0,6,44,40,33,36,27,21,93,64,30,30.47,30.11,29.87,10,10,10,23,15,33,0.0,0.08,Rain,1
3,2017,1,1,747,2017-01-01 00:21:22,2017-01-01 00:33:50,46,Christian Science Plaza,42.343864,-71.085918,19,Buswell St. at Park Dr.,42.347241,-71.105301,1834,Subscriber,1968,1,6,44,40,33,36,27,21,93,64,30,30.47,30.11,29.87,10,10,10,23,15,33,0.0,0.08,Rain,1
4,2017,1,1,621,2017-01-01 00:30:06,2017-01-01 00:40:28,10,B.U. Central - 725 Comm. Ave.,42.350406,-71.108279,8,Union Square - Brighton Ave. at Cambridge St.,42.353334,-71.137313,230,Subscriber,1983,1,6,44,40,33,36,27,21,93,64,30,30.47,30.11,29.87,10,10,10,23,15,33,0.0,0.08,Rain,1

In [26]:
df_B_W_H.to_csv('Data/outputs/datasets_Bike_Weather_Holidays_raw.csv', sep=',')

In [27]:
df_B_W_H['age'] = 2017 - pd.to_numeric(df_B_W_H['birth year'], errors = 'coerce')

In [28]:
df_B_W_H.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1313774 entries, 0 to 1313773
Data columns (total 42 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Year                       1313774 non-null  int64
 1   Month                      1313774 non-null  int64
 2   Day                        1313774 non-null  int64
 3   tripduration               1313774 non-null  int64
 4   starttime                  1313774 non-null  object
 5   stoptime                   1313774 non-null  object
 6   start station id           1313774 non-null  int64
 7   start station name         1313774 non-null  object
 8   start station latitude     1313774 non-null  float64
 9   start station longitude    1313774 non-null  float64
 10  end station id             1313774 non-null  int64
 11  end station name           1313774 non-null  object
 12  end station latitude       1313774 non-null  float64
 13  end station longitude      1313774 non-null  float64
 14  bikeid                     1313774 non-null  int64
 15  usertype                   1313774 non-null  object
 16  birth year                 1313774 non-null  object
 17  gender                     1313774 non-null  int64
 18  Weekday                    1313774 non-null  int64
 19  High Temp (F)              1313774 non-null  int64
 20  Avg Temp (F)               1313774 non-null  int64
 21  Low Temp (F)               1313774 non-null  int64
 22  High Dew Point (F)         1313774 non-null  int64
 23  Avg Dew Point (F)          1313774 non-null  int64
 24  Low Dew Point (F)          1313774 non-null  int64
 25  High Humidity (%)          1313774 non-null  int64
 26  Avg Humidity (%)           1313774 non-null  int64
 27  Low Humidity (%)           1313774 non-null  int64
 28  High Sea Level Press (in)  1313774 non-null  float64
 29  Avg Sea Level Press (in)   1313774 non-null  float64
 30  Low Sea Level Press (in)   1313774 non-null  float64
 31  High Visibility (mi)       1313774 non-null  int64
 32  Avg Visibility (mi)        1313774 non-null  int64
 33  Low Visibility (mi)        1313774 non-null  int64
 34  High Wind (mph)            1313774 non-null  int64
 35  Avg Wind (mph)             1313774 non-null  int64
 36  High Wind Gust (mph)       1313774 non-null  int64
 37  Snowfall (in)              1313774 non-null  float64
 38  Precip (in)                1313774 non-null  float64
 39  Events                     1313774 non-null  object
 40  Holidays                   1313774 non-null  int64
 41  age                        1102827 non-null  float64
dtypes: float64(10), int64(25), object(7)
memory usage: 431.0+ MB

In [29]:
mask0 = ((df_B_W_H['Month'] < 4))
mask1 = (df_B_W_H['Month'] >= 4) & (df_B_W_H['Month'] < 7)
mask2 = (df_B_W_H['Month'] >= 7) & (df_B_W_H['Month'] < 10)
mask3 = (df_B_W_H['Month'] >= 10)
df_B_W_H['season'] = np.select([mask0, mask1,mask2,mask3], 
                            [int(1), int(2), int(3), int(4)],default=np.nan)

## Here, I am saving the processed dataset and re-loading data at this stage.

In [30]:
df_B_W_H.to_csv('Data/outputs/datasets_Bike_Weather_Holidays_raw.csv', sep=',')

In [ ]:
df_B_W_H = pd.read_csv('datasets_Bike_Weather_Holidays_raw.csv', sep=',')